/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 144, oursprites/*.png */
.oursprites-sprite, a[href*="facebook"], a[href*="drupal"], a[href*="github"], a[href*="reddit"], a[href*="grooveshark"] {
  background-image: url('../images/oursprites-s8959feb0ae.png');
  background-repeat: no-repeat;
}

/* line 17, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
body {
  padding: 20px;
}

/* line 25, ../sass/screen.scss */
.sprite-demo {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 50px;
}
/* line 49, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/typography/lists/_inline-block-list.scss */
.sprite-demo li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 31, ../sass/screen.scss */
.icon a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
}

/* line 38, ../sass/screen.scss */
a[href*="facebook"] {
  background-position: 0 -256px;
  height: 64px;
  width: 64px;
  background-color: #3B5998;
}
/* line 59, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/sprites/_base.scss */
a[href*="facebook"]:hover, a[href*="facebook"].facebook-64-hover {
  background-position: 0 -320px;
}

/* line 43, ../sass/screen.scss */
a[href*="drupal"] {
  background-position: 0 -128px;
  height: 64px;
  width: 64px;
  background-color: #0077C0;
}
/* line 59, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/sprites/_base.scss */
a[href*="drupal"]:hover, a[href*="drupal"].drupal-64-hover {
  background-position: 0 -192px;
}

/* line 48, ../sass/screen.scss */
a[href*="github"] {
  background-position: 0 -384px;
  height: 64px;
  width: 64px;
  background-color: #4183C4;
}
/* line 59, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/sprites/_base.scss */
a[href*="github"]:hover, a[href*="github"].github-64-hover {
  background-position: 0 -448px;
}

/* line 53, ../sass/screen.scss */
a[href*="reddit"] {
  background-position: 0 -640px;
  height: 64px;
  width: 64px;
  background-color: #FF4500;
}
/* line 59, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/sprites/_base.scss */
a[href*="reddit"]:hover, a[href*="reddit"].reddit-64-hover {
  background-position: 0 -704px;
}

/* line 58, ../sass/screen.scss */
a[href*="grooveshark"] {
  background-position: 0 -512px;
  height: 64px;
  width: 64px;
  background-color: #000000;
}
/* line 59, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/utilities/sprites/_base.scss */
a[href*="grooveshark"]:hover, a[href*="grooveshark"].grooveshark-64-hover {
  background-position: 0 -576px;
}

/* line 65, ../sass/screen.scss */
.sprite-dimensions {
  width: 64px;
  height: 64px;
  background: grey;
}
